* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url(img/gradient_background.jpg) bottom center no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}


.grid {
  padding: 1em;
  margin:30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 100px;
}

h2 {
border-bottom: 1px solid white;
}


.grid-title {
  grid-column: 1 / 6;
  margin:10px;

  font-size: 60px;
  /* border: 2px solid brown; */
}

p.description {
  margin: 10px;
}

.grid_info_year{
grid-column: 1 / span 1;

margin:10px;

font-size: 50px;
border-bottom: 1px solid white;
}

.grid_info_date{
margin:10px;
grid-column: 2 / span 4;

font-size: 50px;
border-bottom: 1px solid white;
}


.grid-name{
  grid-column: 1 / span 4;

  margin: 5px;
  line-height: 0.9em;
  color: hotpink;
  font-size: 300px;
  border-top:  1px solid white;
}